<body>
    <div class="person">
        <label for="" class="textlbl">Henning Henriksen</label>
        <br />
        <label for="" class="textlbl">Alder 32</label>
        <br />
        <label for="" class="textlbl">By Herlev</label>
        <br />
    </div>
    <div class="person2">
        <img src="assets/Images/natur.jpg" class="profileimg" />
        <button class="btnclick" routerLink="/brugerAktivitet">
            Vis brugerens aktiviteter
        </button>
        <button class="btnclick" routerLink="/redigerProfil">
            Rapporter bruger
        </button>
        <button class="btnclick" routerLink="/">Tilbage til forside</button>
    </div>
</body>
