<body>
    <div class="person">
        <div>
            <p>{{ibruger.Fornavn}}</p>
        </div>
        <div>
            <p>{{ibruger.Efternavn}}</p>
        </div>
        <div>
            <p>{{ibruger.Efternavn}}</p>
        </div>
        <div>
            <p>{{ibruger.Foedselsdato}}</p>
        </div>
        <div>
            <p>{{ibruger.PostNummer}}</p>
        </div>
        <div>
            <p>{{ibruger.Email}}</p>
        </div>
        <br>
    </div>
    <div class="person2">
        <img src="assets/Images/natur.jpg" class="profileimg">
        <button class="btnclick" routerLink="/mineAktiviteter">Vis brugerens aktiviteter</button>
        <button class="btnclick" routerLink="/redigerProfil">Rediger bruger</button>
        <button class="btnclick" routerLink="/">Tilbage til forside</button>
    </div>

</body>
