 <div class="boxBackground">
    <div class="boxBackground">
        <div>
            <label>Titel</label>
            <br>
            <input class="navContent2" type="text">
        </div>
        <br>
        <div>
            <label>Adresse til mødestedet</label>
            <br>
            <input class="navContent2" class="address" type="text">
        </div>
        <br>
        
    </div>
    <div class="person2">
        <img [src]="url" class="profileimg">
        <input class="btnclick" type="file" (change)="onSelectImg($event)">
    </div>
    <div class="boxBackground">
        <div class="tempfix">
                <label>Dato for aktivitet</label>
                <br>
                <input type="date">
            </div>
        <br>
        <div>
            <label>Beskrivelse</label>
            <br>
            
        </div>
        <br>
        <textarea class="message"></textarea>
    </div>
    <br>
    <div>
        <div>
            <label>Max antal deltagere</label>
            <br>
            <input class="navContent2" type="text">
            <br>
            <label>Note: Opretteren vil selv optage en plads</label>
        </div>
        <br>
        <div>
            <label>Tilmeldingspris</label>
            <br>
            <input class="navContent2" type="text">
        </div>
        <br>
        <div>
            <label>huskeliste</label>
            
        </div>
        <br>
        <textarea class="message"></textarea>
    <button class="btnclick" routerLink="/">Opret aktivitet</button>
    </div>
    
</div>