<div class="boxBackground">
    <form [formGroup]="UserForm" (ngSubmit)="OnSubmit()">
        <div>
            <label>Titel</label>
            <br />
            <input class="navContent2" formControlName="Titel" type="text" />
        </div>
        <br />
        <div>
            <label>Beskrivelse</label>
            <br />
            <textarea class="message" formControlName="Beskrivelse"></textarea>
        </div>
        <br />
        <div>
            <label>Postnummer</label>
            <br />
            <input
                class="navContent2"
                formControlName="AktivitetPostnummer"
                type="number"
                pattern="[0-9]{4}"
                min="1000"
                max="9990"
                title="4 cifre postnummer"
            />
            <br />
        </div>
        <!--         <div class="person2">
            <img [src]="url" class="profileimg" />
            <input
                class="btnclick"
                type="file"
                (change)="onSelectImg($event)"
            />
        </div> -->

        <div class="tempfix">
            <label>Dato for aktivitet start</label>
            <br />
            <input formControlName="Starttidspunkt" type="datetime-local" />
        </div>
        <div class="tempfix">
            <label>Dato for aktivitet slut</label>
            <br />
            <input formControlName="Sluttidspunkt" type="datetime-local" />
        </div>
        <br />
        <div>
            <div>
                <label>Max antal deltagere</label>
                <br />
                <input
                    class="navContent2"
                    formControlName="MaxDeltagere"
                    type="number"
                />
                <br />
                <p>Note: Opretteren vil selv optage en plads</p>
            </div>
            <br />
            <div>
                <label>Tilmeldingspris</label>
                <br />
                <input
                    class="navContent2"
                    formControlName="Pris"
                    type="number"
                />
            </div>
            <br />
            <div>
                <label>Huskeliste</label>
            </div>
            <br />
            <textarea class="message" formControlName="Huskeliste"></textarea>
            <button class="navContent2" type="submit">Opret aktivitet</button>
        </div>
    </form>
</div>
