<form class="boxBackground" [formGroup]="UserForm" (ngSubmit)="OnSubmit()">
    <div >
        <div>
            <label>Titel</label>
            <br>
            <input class="navContent2" formControlName="Titel" type="text">
        </div>
        <br>
        
        <br>
        
    </div>
    <div class="person2">
        <img [src]="url" class="profileimg">
        <input class="btnclick" type="file" (change)="onSelectImg($event)">
    </div>
    <div >
        <div>
            <label>Start Dato og tid for aktivitet</label>
            <br>
            <input type="" class="navContent2" formControlName="StartTidspunkt"  type="text" >
        </div>
        <br>
        <div>
            <label>Slut dato og tid for aktivitetet</label>
            <br>
            <input type="" class="navContent2" formControlName="SlutTidspunkt"  type="text" >
        </div>
        <br>
        <div>
            <label>Beskrivelse</label>
            
            <br>
            <textarea class="message" type="text" class="navContent2" formControlName="Beskrivelse"></textarea>
        </div>
        <br>
    </div>
    
    <div >
        <div>
            <label>Max antal deltagere</label>
            <br>
            <input class="navContent2" formControlName="MaxDeltagere" type="text">
            <br>
            <label>Note: Opretteren vil selv optage en plads</label>
        </div>
        <br>
        <div>
            <label>Tilmeldingspris</label>
            <br>
            <input class="navContent2" type="text">
        </div>
        <br>
        <div>
            <label>huskeliste</label>
            <textarea class="message" formControlName="Huskeliste"></textarea>
        </div>
        <br>
        
    </div>
    
    <button class="btnclick" routerLink="/">Opret aktivitet</button>
</form>