<body>
    <div class="boxBackground">
        <div>
            <label>Fornavn</label>
            <br>
            <input class="navContent2" type="text">
        </div>
        <br>
        <div>
            <label>Efternavn</label>
            <br>
            <input class="navContent2" type="text">
        </div>
        <br>
        <div>
            <label>Fødselsdag</label>
            <br>
            <input class="navContent2" type="text">
        </div>
        <br>
        <div>
            <label>By</label>
            <br>
            <input class="navContent2" type="text">
        </div>
        <br>
        <div>
            <label>Email</label>
            <br>
            <input class="navContent2" type="text">
        </div>
        <br>
        
    </div>
    
    <div class="person2">
        <img [src]="url" class="profileimg">
        <input class="btnclick" type="file" (change)="onSelectImg($event)">
        <button class="btnclick" routerLink="/brugerProfil">Rediger profil</button>
        <button class="btnclick" routerLink="/">Tilbage til forsiden</button>
    </div>

</body>
