
<div class="boxBackground">
    <form [formGroup]="UserForm" (ngSubmit)="submit()">
      <div class="tempfix">
        <label>Email</label>
        <br />
        <input formControlName="Email" class="navContent2" type="text" />
      </div>
      <br />
      <div class="tempfix">
        <label>Password</label>
        <br />
        <input formControlName="Password" class="navContent2" type="password" />
      </div>
      <br />
      <div class="tempfix">
        <label>Gentag Password</label>
        <br />
        <input type="password" />
      </div>
      <br />
      <button class="navContent2" type="submit">Log in</button>
    </form>
  </div>