<div class="boxBackground">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="tempfix">
            <label>Email</label>
            <br />
            <input formControlName="Email" class="navContent2" type="email" />
        </div>
        <br />
        <div class="tempfix">
            <label>Password</label>
            <br />
            <input
                formControlName="Password"
                class="navContent2"
                type="password"
            />
        </div>
        <br />
        <button class="navContent2" type="submit">Login</button>
    </form>
</div>
