<div class="loginBackground">
    <div class="tempfix">
        <label>Fornavn</label>
        <br>
        <input class="navContent2" type="text">
    </div>
    <br>
    <div class="tempfix">
        <label>Efternavn</label>
        <br>
        <input class="navContent2" type="text">
    </div>
    <br>
    <div class="tempfix">
        <label>Fødselsdato</label>
        <br>
        <input type="date">
    </div>
    <br>
    <div class="tempfix">
        <label>Postnummer</label>
        <br>
        <input type="number" pattern="[0-9]{4}" min="1000" max="9990" title="4 cifre postnummer" />
    </div>
    <br>
    <div class="tempfix">
        <label>Email</label>
        <br>
        <input class="navContent2" type="text">
    </div>
    <br>
    <div class="tempfix">
        <label>Password</label>
        <br>
        <input class="navContent2" type="text">
    </div>
    <br>
    <div class="tempfix">
        <label>Gentag Password</label>
        <br>
        <input type="text">
    </div>
    <br>
    <button class="navContent2" routerLink="">Log in</button>
    
</div>
