<div class="loginBackground">
        <label>Fornavn</label>
        <input class="navContent2" type="text">
        <br>
        <label>Efternavn</label>
        <input class="navContent2" type="text">
        <br>
        <label>Fødselsdato</label>
        <input type="date">
        <br>
        <label>Postnr</label>
        <input class="navContent2" type="text">
        <br>
        <label>Email</label>
        <input class="navContent2" type="text">
        <br>
        <label>Password</label>
        <input class="navContent2" type="text">
        <br>
        <label>Gentag Password</label>
        <input class="navContent2" type="text">
        <br>
        <button class="navContent2" routerLink="">Log in</button>
    </div>
