<body>
    <nav id="navbar">
        <div id="navContent">
            <div id="menu">
                <img id="menuimg"  src="assets/Images/BurgerMenu.png">
            </div>
            
            <input class="navContent2" type="text" placeholder="Search..">
            <button class="navContent2" routerLink="/login">Log in</button>
            <Button class="navContent2">Opret bruger</Button>
        </div>
    </nav>
    
    <div class="submenu">
        <p>med bacon</p>
    </div>
</body>
