<body>
    <nav id="navbar">
        
        <div id="navContent">
            
            
            <img id="menuimg"  src="assets/Images/BurgerMenu.png">

            <div class="submenu">
                <div><a routerLink="/">Forside</a></div>
                <br>
                <div><a routerLink="/minProfil">Profil</a></div>
                <br>
                <div><a routerLink="/favorit">Favoritter</a></div>
                <br>
                <div><a routerLink="/nyAktivitet">Opret aktiviteter</a></div>
                <br>
                <div><a routerLink="/mineAktiviteter">MineAktiviteter</a></div>
                <br>
                <div><a routerLink="/omOs">Om MinFritid</a></div>
                <br>
                <div><a routerLink="/kontakt">Kontakt os</a></div>
            </div>
            
            <input class="navContent2" type="text" placeholder="Search..">
            <button class="navContent2" routerLink="/login">Log in</button>
            <Button class="navContent2" routerLink="/opretBruger">Opret bruger</Button>
        </div>
    </nav>

    
</body>
