#navbar{
    background-color: #ffffff;
    opacity: 0.9;
    height: 40px;
    min-height: 2%;
}
#navContent{
    background-color: #ffffff;
    text-align: center;
    
}
.navContent2{
    margin: 0px 50px 0px 0px;
    
}
#menuimg{
    width: 35px;
    height: 40px;
    float: left;
}
.submenu{
    display: none;

}
#menu:hover + .submenu{
    display: block;
}
.submenu:hover{
    display: block;
}
