#navbar{
    background-color: #d2eefa;
    opacity: 0.9;
    height: 40px;
    min-height: 2%;
}
#navContent{
    background-color: #d2eefa;
    text-align: center;
    
}
.navContent2{
    margin: 0px 30px 0px 0px;
    
}
#menuimg{
    width: 35px;
    height: 40px;
    float: left;
}
.submenu{
    display: none;

}
#menuimg:hover + .submenu{
    background-color: #d2eefa;
    display: block;
    text-align: left;
    position: fixed;
    margin-top: 40px;
    padding: 1rem;
}
.submenu:hover{
    display: block;
    text-align: left;
    float: none;
    background-color: #d2eefa;
    position: fixed;
    margin-top: 40px;
    padding: 1rem;
}

 


