

<div class="boxBackground" *ngFor="let aktivitet of Aktiviteter">
        
    <div>
        <img class="activitiesImg" src="assets/Images/walking.jpg">
        <br>
        <label>{{aktivitet.titel}}</label>
        <br/>
        <label>{{aktivitet.postnummer}}</label>
        <br/>
        <button [routerLink]="['/aktivitet/', aktivitet.id]">gå til aktiviteten</button>
        <a href="#" [routerLink]="['/aktivitet/', aktivitet.aktivitetId]" class="btn btn-info">View</a>
    </div>
        
</div>

