<body>
    <div class="boxBackground">
        <div>
            <label>Venneanmodninger</label>
            <br>
            <label class="name">Henning Larsen</label>
            <button class="choice">Afvis</button>
            <button class="choice">Accepter</button>
        </div>
        <br>
        
    </div>
    <div class="boxBackground">
        <div>
            <label >Venneliste</label>
            
            <br>
            <label><a routerLink="/">henning Henriksen</a></label>
            <br>
            <label class="friends">1 Tilmeldte aktiviteter</label>
            <br>

            <label class="friends">1 Opretet aktiviteter</label>
        </div>
        <br>
        
    </div>

</body>
