<body>
    <div class="person">
        <label for="" class="textlbl">Tobias Larsen</label>
        <br>
        <label for="" class="textlbl">Alder 24</label>
        <br>
        <label for="" class="textlbl">By Birkerød</label>
        <br>
    </div>
    <div class="person2">
        <img src="assets/Images/natur.jpg" class="profileimg">
        <button class="btnclick" routerLink="/redigerProfil">Rediger profil</button>
        <button class="btnclick" routerLink="/">Tilbage til forsiden</button>
    </div>

</body>
