<div class="boxBackground">
    <div class="person">
        <label class="textlbl">Tobias Larsen</label>
        <br />
        <label class="textlbl">Alder 24</label>
        <br />
        <label class="textlbl">By Birkerød</label>
        <br />
    </div>
    <div class="person2">
        <img src="assets/Images/natur.jpg" class="profileimg" />
        <button class="btnclick" routerLink="/redigerProfil">
            Rediger profil
        </button>
        <button class="btnclick" routerLink="/">Tilbage til forsiden</button>
    </div>
</div>